<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sabah.com.tr Test Suite" parallel="methods" thread-count="1">
    
    <test name="Sabah Homepage Tests">
        <classes>
            <class name="sabah.com.tests.SabahHomePageTest">
                <methods>
                    <include name="testHomePageLoadsSuccessfully"/>
                    <include name="testHeaderElementsDisplayed"/>
                    <include name="testLogoDisplayed"/>
                    <include name="testTopMenuElements"/>
                    <include name="testMainNavigationElements"/>
                    <include name="testSocialMediaLinks"/>
                    <include name="testIndividualTopMenuElements"/>
                    <include name="testIndividualMainNavigationElements"/>
                    <include name="testIndividualSocialMediaElements"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>
